.header__table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  margin: 0 100px 0;
  border: 1px solid var(--border-color-second);
  border-bottom: 0;
  background-color: var(--background-header);
  font-size: 0.9em;
  font-weight: 700;
}

.row__table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  margin: 0 100px;
  border: 1px solid var(--border-color-second);
  border-bottom: 0;
  background-color: var(--background-color-first);
  font-size: 0.9em;
}

.row__table--empty {
  display: flex;
  height: 114px;
  justify-content: center;
  border: 1px solid var(--border-color-second);
  border-bottom: 0;
  margin: 0 100px;
  background-color: var(--background-color-first);
}

.col__table--one {
  grid-column: 1/2;
}

.col__table--two {
  grid-column: 2/3;
  align-self: center;
}

.col__table--three {
  grid-column: 3/4;
  align-self: center;
}

.col__table--four {
  grid-column: 4/5;
  align-self: center;
}

.col__table--five {
  grid-column: 5/6;
  align-self: center;
}

.col__table--six {
  grid-column: 6/7;
  align-self: center;
}

.footer__table--resumen {
  padding: 20px 0;
  margin: 0 100px;
  border: 1px solid var(--border-color-second);
  font-size: 1.1em;
  font-weight: 400;
  background-color: var(--background-color-first);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  text-align: left;
}

.footer__table--resumen > span {
  padding: 0 20px;
}

.footer__table--resumen > span:first-child {
  border-bottom: 1px solid var(--border-color-second);
  width: 100%;
  padding-bottom: 10px;
}

.input__edit {
  border: none;
  border: 1px solid var(--border-color-second);
  width: 50px;
  padding: 0;
  height: 30px;
  text-align: center;
  background-color: var(--background-color-second);
  font-weight: 700;
}

.input__edit:hover {
  background-color: var(--background-color-first);
}

.acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  text-align: center;
}

.footer__table--botonera {
  padding: 20px;
  margin: 0 100px 100px;
  border: 1px solid var(--border-color-second);
  border-top: 0;
  font-size: 1.1em;
  font-weight: 400;
  background-color: var(--background-color-second);
  display: flex;
  column-gap: 10px;
  justify-content: left;
}
