.detail {
  display: flex;
  padding: 30px 100px;
}
.detalle__body {
  display: flex;
  border-radius: 12px;
  background-color: white;
  border: 1px solid LightGray;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.detalle__body--right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detalle__body--right > img {
  object-fit: cover;
}
.detalle__body--left {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
  padding: 20px;
  margin: 30px;
  border: 1px solid LightGray;
  border-radius: 12px;
  background-color: WhiteSmoke;
  font-family: "Lexend", sans-serif;
}
.detalle__body--left h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.detalle__body--left p {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 40px;
}
.detalle__body--left p span {
  font-weight: 700;
}
.detalle__body--buttom {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 15px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  border: 1px solid LightGray;
  background-color: MintCream;
}
.detail__buton {
  display: inline-block;
  color: white;
  background-color: DarkSlateBlue;
  border-radius: 12px;
  border: 1px solid gainsboro;
  height: 40px;
  width: 300px;
  font-size: 1.1em;
  text-decoration: none;
  padding: 8px 8px 5px;
}
.detail__buton:hover {
  color: black;
  background-color: LightGray;
  cursor: pointer;
  border: 1px solid silver;
}

.detalle__body--add {
  color: #4eab54;
}
.detalle__body--notadd {
  color: OrangeRed;
}
