header {
  display: flex;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  border-bottom: 1px solid var(--border-color-first);
  background-color: var(--background-header);
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  text-align: left;
  width: 20%;
  font-family: "Cinzel Decorative", cursive;
  font-size: 18px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: var(--text-color-second);
}

.navBar {
  width: 75%;
  text-align: right;
  padding: 10px 0;
}

.navBar > ul > li {
  display: inline-block;
  padding: 20px 20px;
  position: relative;
}

.navBar > ul > li > a {
  text-decoration: none;
  color: var(--text-color-first);
}

.navBar > ul > li > a:hover {
  text-decoration: none;
  color: var(--text-color-second);
  cursor: pointer;
}

/* subMenú ------------ */

.navBar > ul > li > ul {
  position: absolute;
  background-color: var(--background-color-first);
  color: black;
  display: none;
  left: -50px;
  top: 50px;
  width: max-content;
  border: 1px solid var(--border-color-first);
  text-align: left;
}

.navBar > ul > li:hover > ul {
  display: inline-block;
}

.navBar > ul > li > ul > div {
  cursor: pointer;
  padding: 20px;
  background-color: var(--background-color-second);
}

.navBar > ul > li > ul > div > a {
  text-decoration: none;
  color: var(--text-color);
}

.navBar > ul > li > ul > div > a:hover {
  color: var(--text-color-second);
}

.navBar > ul > li > ul > div > a > li {
  list-style: none;
}

.category__all {
  cursor: pointer;
  padding: 20px 0;
  background-color: var(--background-color-second);
  list-style: none;
}

.category__all a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 20px;
  background-color: var(--background-color-second);
}

.category__all a:hover {
  color: var(--text-color-second);
}
