@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

header {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 100px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid Gainsboro;
    background-color: Lavender;
}
.logo {
    text-align: left;
    width: 20%;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 18px;
    font-weight: bold;
}
.logo a {
    text-decoration: none;
    color: indigo;
}
.navBar {
    width: 75%;
    text-align: right;
}
.navBar > ul > li {
    display: inline-block;
    padding: 10px;
}
.navBar > ul > li > a {
    text-decoration: none;
    color: black;
}
.navBar > ul > li > a:hover {
    text-decoration: none;
    color: rgb(70, 68, 68);
    cursor: pointer;
}
.cart {
    font-size: 1.5em;
    width: 5%;
    text-align: right;
    color: indigo;
    cursor: pointer;
}
