header {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 100px;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid Gainsboro;
}

.navBar {
    width: 95%;
    text-align: right;
}

.navBar > ul > li {
    display: inline-block;
    padding: 10px;
}

.navBar > ul > li > a {
    text-decoration: none;
    color: black;
}

.navBar > ul > li > a:hover {
    text-decoration: underline;
    color: rgb(70, 68, 68);
    cursor: pointer;
}
