.controles {
  display: flex;
  align-items: center;
  padding: 0.8em 0;
  font-size: 1em;
}

.col__uno {
  width: 6%;
  display: flex;
  justify-content: left;
}

.col__dos {
  width: 7%;
  display: flex;
  justify-content: center;
}

.col__tres {
  width: 8%;
  display: flex;
  justify-content: left;
}

.col__cuatro {
  width: 40%;
  text-align: center;
}

.col__cinco {
  width: 39%;
  text-align: center;
}
