.message__basic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--border-color-first);
  background-color: var(--background-mensaje-first);
  height: 100px;
  color: var(--text-color-first);
  font-size: 1.6em;
  font-weight: 400;
  margin: 150px 100px 30px;
  text-align: center;
  padding: 20px;
}

.message__successful {
  font-size: 0.9em;
  color: var(--text-color-mensaje-first);
  text-align: center;
  border: 1px solid var(--border-color-first);
  background-color: var(--background-mensaje-first);
  padding: 10px;
  margin-bottom: 10px;
}

.message__error {
  font-size: 0.9em;
  color: var(--text-color-mensaje-second);
  text-align: center;
  border: 1px solid var(--border-color-first);
  background-color: var(--background-mensaje-first);
  padding: 10px;
  margin-bottom: 10px;
}
